nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(138, 36, 36);
    padding: 5px 55px;
    align-items: center;
    justify-content: space-between;
    img{height: 80px;border-radius: 10px;}
}
.navegacion{
    display: flex;
    flex-direction: row;
    gap: 25px;
    a{
        text-decoration: none;
        color: rgb(126, 28, 28);
        font-weight: bold;
        font-size: 20px;
        transition: 0.3s;
        padding: 3px 6px;
        border-radius: 4px;
        background-color: rgb(71, 17, 17);
        &:hover{background-color: rgb(96, 23, 23);font-size: 22px;color: white};
}
}
.sesion{
    display: flex;
    gap: 2vw;
    align-items: center;
    p{color: rgb(126, 28, 28);border-radius: 4px;padding: 2px;font-weight: bold;font-size: 22px;background-color: rgb(71, 17, 17);}
    div{
        display: flex;
        flex-direction: row;
        gap: 5px;
        background-color: rgb(71, 17, 17);
        border-radius: 4px;
        a{
            text-decoration: none;
            color: rgb(126, 28, 28);
            font-weight: bold;
            font-size: 20px;
            padding: 3px 6px;
            border-radius: 4px;
            background-color: rgb(71, 17, 17);
            transition: 0.3s;
            &:hover{color: white;background-color: rgb(96, 23, 23);font: size 22px;}
        };
    }
}